<div class="container">
  <nav class="d-flex m-4 align-items-center">
    <h1 class="flex-grow-1">Your cocktail list</h1>
    <%= link_to "+", new_cocktail_path, class: "btn rounded-pill" %>
  </nav>

  <% ordered_cocktails = @cocktails.sort_by { |w| w.name.upcase } %>

  <% ordered_cocktails.each do |c| %>
    <%= link_to cocktail_path(c.id) do %>
      <div class="card-product mb-4">
        <img src="http://www.gazregan.com/wp-content/uploads/2012/07/Cocktail-Mischa.jpg"/>
        <div class="card-product-infos flex-column">
          <h2><%= c.name %></h2>
          <p>ipsum bla patata</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<footer>
    <div><p> Made by Balthazar Le Bret </p></div>
    <div><p><strong> Test website </strong></p></div>
    <div><%= link_to "back to top", root_path %></div>
</footer>

