<div class="container">

  <h1>Create a cocktail</h1>

  <div class="new-cocktail-form">
    <%= simple_form_for @cocktail do |p| %>
      <%= p.input :name %>
      <%= p.submit "done", class: "btn" %>
    <% end %>
  </div>

  <%= link_to "back to list", root_path, class: "btn mt-2" %>

</div>
