<h1>You can create a cocktail here</h1>

<div class="container">
  <%= simple_form_for @cocktail do |p| %>
    <%= p.input :name %>
    <%= p.submit "submit", class: "btn btn-success" %>
  <% end %>
</div>
